.header {
  width: 100%;
  margin-top: 45px;
}

/*.header__logo {
  width: 173px;
  height: 33px;
}

/*.header__divider {
  border-bottom: solid 0.15px #545454;
  width: 100%;
  margin-top: 41px;
  opacity: 70%;
}
*/
