.page {
  font-family: "Inter", Arial, sans-serif;
  background-color: black;
  color: #fff;
  margin: 0;
}

.page__content {
  padding: 45px 200px;
  display: flex;
  flex-direction: column;
}

.page__section {
  max-width: 880px;
  margin: 0 auto;
  position: relative;
  width: 100%;
}

@media screen and (max-width: 1100px) {
  .page__section {
    margin: 0 20px;
    max-width: calc(100% - 40px);
  }
}
