.page {
  font-family: "Inter", Arial, sans-serif;
  background-color: black;
  color: #fff;
  margin: 0;
}

.page__content {
  padding: 45px 200px;
  display: flex;
  flex-direction: column;
}

.page__section {
  max-width: 880px;
  margin: 0 auto;
  position: relative;
  width: 100%;
}
